# Grid Rival

In [126]:
import copy
from itertools import combinations, product
import pandas as pd

## Drivers

In [34]:
drivers = [
    {
        "name": "L. Hamilton",
        "team": "MER",
        "cost": 30
    },
    {
        "name": "M. Verstappen",
        "team": "RBR",
        "cost": 28.7
    },
    {
        "name": "V. Bottas",
        "team": "MER",
        "cost": 27.4
    },
    {
        "name": "S. Perez",
        "team": "RBR",
        "cost": 26.1
    },
    {
        "name": "D. Ricciardo",
        "team": "MCL",
        "cost": 24.8
    },
    {
        "name": "F. Alonso",
        "team": "ALP",
        "cost": 23.5
    },
    {
        "name": "L. Norris",
        "team": "MCL",
        "cost": 22.2
    },{
        "name": "C. Leclerc",
        "team": "FER",
        "cost": 20.9
    },
    {
        "name": "S. Vettel",
        "team": "AMR",
        "cost": 19.6
    },
    {
        "name": "C. Sainz Jr",
        "team": "FER",
        "cost": 18.3
    },
    {
        "name": "L. Stroll",
        "team": "AMR",
        "cost": 17.0
    },
    {
        "name": "P. Gasly",
        "team": "TOR",
        "cost": 15.7
    },
    {
        "name": "E. Ocon",
        "team": "ALP",
        "cost": 14.4
    },
    {
        "name": "K. Raikkonen",
        "team": "ALF",
        "cost": 13.1
    },
    {
        "name": "Y. Tsunoda",
        "team": "TOR",
        "cost": 11.8
    },
    {
        "name": "A. Giovinazzi",
        "team": "ALF",
        "cost": 10.5
    },
    {
        "name": "G. Russell",
        "team": "WIL",
        "cost": 9.2
    },{
        "name": "N. Latifi",
        "team": "WIL",
        "cost": 7.9
    },
    {
        "name": "M. Schumacher",
        "team": "HAS",
        "cost": 6.6
    },
    {
        "name": "N. Mazepin",
        "team": "HAS",
        "cost": 5.3
    },
]

## Teams

In [35]:
constructors = [
    {
        "name": "Mercedes",
        "team": "MER",
        "cost": 30
    },
    {
        "name": "Red Bull",
        "team": "RBR",
        "cost": 27.2
    },
    {
        "name": "McLaren",
        "team": "MCL",
        "cost": 24.4
    },
    {
        "name": "Aston Martin",
        "team": "AMR",
        "cost": 21.6
    },
    {
        "name": "Alpine",
        "team": "ALP",
        "cost": 18.8
    },
    {
        "name": "Ferrari",
        "team": "FER",
        "cost": 16.0
    },
    {
        "name": "AlphaTauri",
        "team": "TOR",
        "cost": 13.2
    },{
        "name": "Alfa Romeo",
        "team": "ALF",
        "cost": 10.4
    },
    {
        "name": "Haas",
        "team": "HAS",
        "cost": 7.6
    },
    {
        "name": "Williams",
        "team": "WIL",
        "cost": 4.8
    },
]

# Points

## Qualifying

### Drivers

In [94]:
qual_drivers = {i: 52-(i * 2) for i in range(1,21)}
df_qual_drivers = pd.Series(qual_drivers)

### Constructors

In [95]:
qual_teams = {i: 31-i for i in range(1,21)}
df_qual_teams = pd.Series(qual_teams)

## Race

### Drivers

In [96]:
race_drivers = {i: 103-(i * 3) for i in range(1,21)}
df_race_drivers = pd.Series(race_drivers)

### Constructors

In [97]:
race_teams = {i: 62-(i * 2) for i in range(1,21)}
df_race_teams = pd.Series(race_teams)

# Valuation

## Buy All - Single Race

In [37]:
total_cost_drivers = sum([driver["cost"] for driver in drivers])
total_cost_teams = sum([team["cost"] for team in constructors])

In [63]:
total_qual_drivers = sum([i for i in qual_drivers.values()])
total_qual_teams = sum([i for i in qual_teams.values()])
total_race_drivers = sum([i for i in race_drivers.values()])
total_race_teams = sum([i for i in race_teams.values()])

In [64]:
total_drivers = total_qual_drivers + total_race_drivers
total_teams = total_qual_teams + total_race_teams

In [70]:
cost_per_point_drivers = (total_cost_drivers * 1e6) / total_drivers
cost_per_point_teams = (total_cost_teams * 1e6) / total_teams

In [75]:
cost_per_point_drivers

172195.1219512195

In [76]:
cost_per_point_teams

141463.41463414635

# Deterministic Position

## Build Probabilities

In [165]:
prob_0 = {i: 0 for i in range(1,21)}
probabilities_det = []
for pos, driver in enumerate(drivers):
    probs = copy.copy(prob_0)
    probs[pos+1] = 1
    res = copy.copy(driver)
    res["prob"] = pd.Series(probs)
    probabilities_det.append(res)

## Results

### Drivers

In [166]:
drivers_det = []
for driver in probabilities_det:
    qual = sum(df_qual_drivers * driver["prob"])
    race = sum(df_race_drivers * driver["prob"])
    total = qual + race
    res = copy.copy(driver)
    res["qual"] = qual
    res["race"] = race
    res["points"] = total
    drivers_det.append(res)

In [167]:
cost_per_point_driver_det = []
for driver in drivers_det:
    res = {
        "name": driver["name"],
        "team": driver["team"],
        "cost_per_point": (driver["cost"]*1e6) / driver["points"]
    }
    cost_per_point_driver_det.append(res)

In [168]:
cost_per_point_driver_det

[{'name': 'L. Hamilton', 'team': 'MER', 'cost_per_point': 200000.0},
 {'name': 'M. Verstappen', 'team': 'RBR', 'cost_per_point': 197931.0344827586},
 {'name': 'V. Bottas', 'team': 'MER', 'cost_per_point': 195714.2857142857},
 {'name': 'S. Perez', 'team': 'RBR', 'cost_per_point': 193333.33333333334},
 {'name': 'D. Ricciardo', 'team': 'MCL', 'cost_per_point': 190769.23076923078},
 {'name': 'F. Alonso', 'team': 'ALP', 'cost_per_point': 188000.0},
 {'name': 'L. Norris', 'team': 'MCL', 'cost_per_point': 185000.0},
 {'name': 'C. Leclerc', 'team': 'FER', 'cost_per_point': 181739.13043478262},
 {'name': 'S. Vettel', 'team': 'AMR', 'cost_per_point': 178181.81818181818},
 {'name': 'C. Sainz Jr', 'team': 'FER', 'cost_per_point': 174285.7142857143},
 {'name': 'L. Stroll', 'team': 'AMR', 'cost_per_point': 170000.0},
 {'name': 'P. Gasly', 'team': 'TOR', 'cost_per_point': 165263.15789473685},
 {'name': 'E. Ocon', 'team': 'ALP', 'cost_per_point': 160000.0},
 {'name': 'K. Raikkonen', 'team': 'ALF', 'cost_per_point': 154117.64705882352},
 {'name': 'Y. Tsunoda', 'team': 'TOR', 'cost_per_point': 147500.0},
 {'name': 'A. Giovinazzi', 'team': 'ALF', 'cost_per_point': 140000.0},
 {'name': 'G. Russell', 'team': 'WIL', 'cost_per_point': 131428.57142857142},
 {'name': 'N. Latifi', 'team': 'WIL', 'cost_per_point': 121538.46153846153},
 {'name': 'M. Schumacher', 'team': 'HAS', 'cost_per_point': 110000.0},
 {'name': 'N. Mazepin', 'team': 'HAS', 'cost_per_point': 96363.63636363637}]

#### Teams

In [169]:
teams_det = []
for team in constructors:
    qual = sum([driver["qual"] for driver in drivers_det if driver["team"] == team["team"]])
    race = sum([driver["race"] for driver in drivers_det if driver["team"] == team["team"]])
    points = qual + race
    res = copy.copy(team)
    res["qual"] = qual
    res["race"] = race
    res["points"] = points
    teams_det.append(res)

In [170]:
cost_per_point_team_det = []
for team in teams_det:
    res = {
        "name": team["name"],
        "team": team["team"],
        "cost_per_point": (team["cost"]*1e6) / team["points"]
    }
    cost_per_point_team_det.append(res)

In [171]:
cost_per_point_team_det

[{'name': 'Mercedes', 'team': 'MER', 'cost_per_point': 103448.27586206897},
 {'name': 'Red Bull', 'team': 'RBR', 'cost_per_point': 97142.85714285714},
 {'name': 'McLaren', 'team': 'MCL', 'cost_per_point': 97600.0},
 {'name': 'Aston Martin', 'team': 'AMR', 'cost_per_point': 102857.14285714286},
 {'name': 'Alpine', 'team': 'ALP', 'cost_per_point': 87441.86046511628},
 {'name': 'Ferrari', 'team': 'FER', 'cost_per_point': 72727.27272727272},
 {'name': 'AlphaTauri', 'team': 'TOR', 'cost_per_point': 75428.57142857143},
 {'name': 'Alfa Romeo', 'team': 'ALF', 'cost_per_point': 65000.0},
 {'name': 'Haas', 'team': 'HAS', 'cost_per_point': 66086.95652173914},
 {'name': 'Williams', 'team': 'WIL', 'cost_per_point': 35555.555555555555}]

## Set-ups

In [180]:
driver_comb = combinations(drivers_det,5)
team_comb = combinations(teams_det,1)

In [181]:
all_comb = product(driver_comb, team_comb)

In [182]:
setup_cost = []
for setup in all_comb:
    driver_cost = sum([element["cost"] for element in setup[0]])
    team_cost = sum([element["cost"] for element in setup[1]])
    cost = driver_cost + team_cost

    driver_points = sum([element["points"] for element in setup[0]])
    team_points = sum([element["points"] for element in setup[1]])
    points = driver_points + team_points

    driver = [element["name"] for element in setup[0]]
    team = [element["name"] for element in setup[1]]

    res = {"setup": driver+team, "cost": cost, "points": points}
    setup_cost.append(res)

In [183]:
setup_cost[0]

{'setup': ['L. Hamilton',
  'M. Verstappen',
  'V. Bottas',
  'S. Perez',
  'D. Ricciardo',
  'Mercedes'],
 'cost': 167.0,
 'points': 990}

In [184]:
possible_comb = [comb for comb in setup_cost if comb["cost"]<=100]

In [186]:
len(setup_cost)

155040

In [187]:
len(possible_comb)

57580

In [211]:
df = pd.DataFrame(setup_cost)
df[["driver_1", "driver_2", "driver_3", "driver_4", "driver_5", "constructor"]] = pd.DataFrame(df["setup"].to_list(), index=df.index)
df.drop("setup", axis=1, inplace=True)

In [212]:
df.loc[df["cost"]<=100].sort_values("points", ascending=False)[:1000]

,cost,points,driver_1,driver_2,driver_3,driver_4,driver_5,constructor
109880,99.4,730,S. Perez,L. Stroll,K. Raikkonen,N. Latifi,N. Mazepin,Mercedes
109161,99.2,730,S. Perez,C. Sainz Jr,A. Giovinazzi,G. Russell,N. Latifi,Red Bull
109180,99.4,730,S. Perez,C. Sainz Jr,A. Giovinazzi,G. Russell,N. Mazepin,Mercedes
109190,99.4,730,S. Perez,C. Sainz Jr,A. Giovinazzi,N. Latifi,M. Schumacher,Mercedes
150580,99.4,730,C. Sainz Jr,L. Stroll,P. Gasly,Y. Tsunoda,M. Schumacher,Mercedes
...,...,...,...,...,...,...,...,...
121621,97.9,725,D. Ricciardo,S. Vettel,A. Giovinazzi,G. Russell,M. Schumacher,Red Bull
141171,97.9,725,L. Norris,P. Gasly,K. Raikkonen,A. Giovinazzi,G. Russell,Red Bull
121571,97.9,725,D. Ricciardo,S. Vettel,Y. Tsunoda,G. Russell,N. Mazepin,Red Bull
150731,97.9,725,C. Sainz Jr,L. Stroll,E. Ocon,K. Raikkonen,N. Latifi,Red Bull
121581,97.9,725,D. Ricciardo,S. Vettel,Y. Tsunoda,N. Latifi,M. Schumacher,Red Bull