In [1]:
from gridrival.drivers import DRIVERS
from gridrival.teams import TEAMS

In [2]:
from gridrival.probabilities.betting_odds import TOP_1, WinningOdds
from gridrival.probabilities import GridProbabilities
import pandas as pd

In [3]:
odds = WinningOdds(pd.Series(TOP_1))

In [4]:
grid = GridProbabilities(odds.naive_grid())

In [5]:
for driver in DRIVERS:
    driver.probabilities = grid.driver_probabilities(driver.name)

In [6]:
fixed_drivers = [driver.to_fixed_info() for driver in DRIVERS]

In [7]:
fixed_teams = [team.to_fixed_info() for team in TEAMS]

In [8]:
from gridrival.optimization.basic import BasicSolver

In [9]:
DRIVERS

[L. Hamilton,
 M. Verstappen,
 V. Bottas,
 S. Perez,
 D. Ricciardo,
 F. Alonso,
 L. Norris,
 C. Leclerc,
 S. Vettel,
 C. Sainz Jr,
 L. Stroll,
 P. Gasly,
 E. Ocon,
 K. Raikkonen,
 Y. Tsunoda,
 A. Giovinazzi,
 G. Russell,
 N. Latifi,
 M. Schumacher,
 N. Mazepin]

In [16]:
solve = BasicSolver(
    drivers=fixed_drivers,
    teams=fixed_teams,
    in_constraint=[],
    out_constraint=[DRIVERS[1], DRIVERS[16]],
    budget=119.867e6
)

In [17]:
df = solve.to_dataframe()

In [18]:
df.sort_values(by="points")

,driver_1,driver_2,driver_3,driver_4,driver_5,team,talent_driver,cost,points
72385,K. Raikkonen,A. Giovinazzi,N. Latifi,M. Schumacher,N. Mazepin,Haas,A. Giovinazzi,46500000.0,688.764169
72386,K. Raikkonen,A. Giovinazzi,N. Latifi,M. Schumacher,N. Mazepin,Williams,A. Giovinazzi,48100000.0,695.289172
72384,K. Raikkonen,A. Giovinazzi,N. Latifi,M. Schumacher,N. Mazepin,Alfa Romeo,A. Giovinazzi,52200000.0,698.378606
69825,S. Vettel,K. Raikkonen,N. Latifi,M. Schumacher,N. Mazepin,Haas,K. Raikkonen,52900000.0,705.050954
69875,S. Vettel,A. Giovinazzi,N. Latifi,M. Schumacher,N. Mazepin,Haas,A. Giovinazzi,51900000.0,706.908952
...,...,...,...,...,...,...,...,...,...
15526,L. Hamilton,L. Stroll,P. Gasly,E. Ocon,Y. Tsunoda,Mercedes,Y. Tsunoda,115700000.0,992.204089
5743,L. Hamilton,D. Ricciardo,F. Alonso,E. Ocon,Y. Tsunoda,Mercedes,Y. Tsunoda,119700000.0,994.005195
15527,L. Hamilton,L. Stroll,P. Gasly,E. Ocon,Y. Tsunoda,Red Bull,Y. Tsunoda,117400000.0,994.469991
9899,L. Hamilton,F. Alonso,P. Gasly,E. Ocon,Y. Tsunoda,Mercedes,Y. Tsunoda,119800000.0,996.855917
2277,L. Hamilton,V. Bottas,L. Stroll,E. Ocon,Y. Tsunoda,Mercedes,Y. Tsunoda,119200000.0,1002.542193